extends layout

block content
    .container
        .row
            .col-md-4.thumbnail.pic
                img(src="http://img.xcitefun.net/users/2009/03/37587,xcitefun-competition-guitar-11.jpg", alt="Air Guitar Hero")
            .col-md-4.thumbnail.pic
                img(src="http://now.phenomenon.com/storage/AirGuitar.jpg?__SQUARESPACE_CACHEVERSION=1340747760717", alt="")
            .col-md-4.thumbnail.pic
                img(src="http://campusinvolvement.umich.edu/files/campusinvolvement/field/image/Air-Guitar%20Extended.jpg", alt="")